<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tip.lunchbox">

    <!-- permissions required by the application-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".LunchBoxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- for google maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="MAP_API_KEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".view.activity.Splash"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.SetupActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.activity.RestaurantDetails"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.MenuActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.CollectionDetails" />

    </application>

</manifest>